# Percorso al certificato .p12 rilasciato da Agenzia delle Entrate
FATTURE_CERT_PATH=./certs/certificato.p12

# Password scelta al momento del download del certificato su Entratel
FATTURE_CERT_PASSWORD=inserisci-qui-la-password
